{% extends "base.html" %}

{% block main %}
<div class="jumbotron">
  <h1>About<h1>
  <p>Iaculis mauris, eget phasellus libero, parturient ipsum duis integer, ut,
    cum primis dapibus, nisi. Nascetur etiam nulla mauris aptent interdum
    scelerisque non urna cras diam. Magnis. Ante, pretium nisi. Diam nisi duis
    varius, curabitur. Fusce aliquet. Fames leo vel hac quisque nisl, eu
    senectus aptent. Dolor habitasse aliquet magna natoque torquent tempor.
    Erat at augue ligula ut lacus rutrum. Ultricies, eros lacinia id. Est,
    parturient ultricies, magna. Quisque ante sagittis eleifend. Ad semper
    vulputate sem, consectetuer vitae. Natoque. Luctus tristique ve, fringilla
    velit, a tellus hendrerit in, penatibus. Laoreet eros laoreet netus
    parturient ullamcorper primis ac. Dignissim urna dis litora. Habitant.
    Libero vehicula fringilla ad, ullamcorper. Primis augue, feugiat sed inceptos.
  </p>
</div>
{% end %}
