{% extends "base.html" %}

{% block main %}
<h1>Sample Chart</h1>
<div id="chart_div" style="height: 40em;"></div>
{% end %}

{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{{ static_url("js/chart.js") }}"></script>
{% end %}
